mat-card {
    padding: 0%;
}

mat-toolbar {
    padding: 0rem 2rem;
}

#search_prefix {
    vertical-align: middle;
}

mat-form-field {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

/* .table-content {
    padding: 0% 2rem 0%;
    width: 100%;
    box-sizing: border-box;
} */

mat-row {
    height: 2.5rem;
    min-height: 2.5rem;
    cursor: pointer;
}

mat-row:hover {
    background-color: rgba(255, 255, 255, 0.05);
}