
<div class="container" fxFlexFill fxLayout="row" fxLayoutGap="0" style="padding: 0">
  <div class="container" fxFlex=50% fxLayout="column" fxLayoutGap="2em">
    <div fxFlex="50%" fxLayoutAlign="space-between">
        <app-coin-flip fxFlex="20em"></app-coin-flip>
    </div>
    <div fxFlex="50%" fxLayoutAlign="space-between">
      <app-slots fxFlex="20em"></app-slots>
    </div>
  </div>

  <div class="container" fxFlex=50% fxLayout="column" fxLayoutGap="2em">
    <div fxFlex="50%" fxLayoutAlign="space-between">
        <app-loot-crates fxFlex="20em"></app-loot-crates>
    </div>

</div>
