mat-card {
    padding: 0% 0% 1em;
}

mat-toolbar {
    padding: 1rem 2rem;
    box-sizing: border-box;
    height: 4em;
}

#search_prefix {
    vertical-align: middle;
}

mat-form-field {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.table-content {
    padding: 0% 2rem 0%;
    width: 100%;
    box-sizing: border-box;
}

mat-row {
    height: 3em;
    min-height: 3em;
}

.select_button {
    min-width: 2em;
    width: 2em;
    min-height: 2em;
    height: 2em;
    line-height: .5em;
    border: 1px outset rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
}

.selected {
    background-color: rgba(255, 255, 255, 0.15);
}