<mat-card fxFlexFill fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1rem">
  <mat-toolbar fxLayoutAlign="center center">{{ item.name }}</mat-toolbar>
  <div class="text-box" fxFlex="auto" [innerHTML]="item.descriptionBox()" fxLayout="column" fxLayoutAlign="start center">
  </div>
  <div class="text-box" *ngIf="item.quickInfoBox()" fxFlex="25%" [innerHTML]="item.quickInfoBox()" fxLayout="column" fxLayoutAlign="center center">
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      Cost: {{ item.cost }}
    </div>
    <div>
      Weight: {{ item.weight }} lb.
    </div>
  </div>
</mat-card>