<mat-card fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <h3>Coin Flip</h3>
  <mat-divider [inset]="true"></mat-divider>
  <mat-form-field>
    <input matInput
      placeholder="Bet"
      [(ngModel)]="numBet"
      pattern="-?[0-9]*"
      min="1"
      [max]="player.getCredits()"
      [formControl]="betFormControl"
      required>
    <mat-error *ngIf="betFormControl.errors?.pattern">
      Must enter a numeric value
    </mat-error>
    <mat-error *ngIf="betFormControl.hasError('min') && !betFormControl.hasError('required') && !betFormControl.errors?.pattern">
      Must bet at least 1 credit to play
    </mat-error>
    <mat-error *ngIf="betFormControl.hasError('max') && !betFormControl.hasError('required') && !betFormControl.errors?.pattern">
      Not enough credits
    </mat-error>
  </mat-form-field>
  <div fxFlex="auto">
    <br>
    {{ message }}
    <br>
    {{ flip }}
  </div>
  <div fxLayoutGap="1em"> 
    <button mat-raised-button (click)="onFlipClick(true)" color="primary" [disabled]="betFormControl.invalid"> Heads </button>
    <button mat-raised-button (click)="onFlipClick(false)" color="primary" [disabled]="betFormControl.invalid"> Tails </button>
  </div>
</mat-card>