<mat-card fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <h3>Slots</h3>
  <mat-divider [inset]="true"></mat-divider>
  <mat-form-field>
    <mat-icon id="money_prefix" matPrefix>attach_money</mat-icon>
    <input matInput
      placeholder="Bet"
      [(ngModel)]="bet"
      pattern="-?[0-9][0-9]*"
      min="1"
      [max]="player.getCredits()"
      [formControl]="betFormControl"
      required>
    <mat-error *ngIf="betFormControl.errors?.pattern">
      Must enter a numeric value
    </mat-error>
    <mat-error *ngIf="betFormControl.hasError('min') && !betFormControl.hasError('required') && !betFormControl.errors?.pattern">
      Must bet at least 1 credit to play
    </mat-error>
    <mat-error *ngIf="betFormControl.hasError('max') && !betFormControl.hasError('required') && !betFormControl.errors?.pattern">
      Not enough credits
    </mat-error>
  </mat-form-field>
  <div id="slots_box" fxFlex="auto">
    {{ result }}
  </div>
  <button mat-raised-button color="primary" (click)="onSlotsClick()" [disabled]="betFormControl.invalid">Test</button>
</mat-card>