#item-card-container {
    border: 3px solid #212121;
}

mat-divider {
    background-color: black;
}

#details {
    padding: 1rem 1rem .5rem;
}

#desc-box {
    font-size: .8rem;
    flex-wrap: wrap;
    overflow: hidden;
}

#info-box {
    border: solid 1px #212121;
    padding: 1rem;
    font-size: .8rem;
    flex-wrap: wrap;
    text-align: center;
    display: inline-flex;
    min-height: 25%;
}

#cost-weight-box {
    font-size: .8rem;
    padding: .5rem 0rem 0rem;
}

::ng-deep .br {
    margin: 0px!important;
}