#item-card-container {
    border: 5px double black;
}

#details {
    padding: .5rem 1rem;
}

#desc-title {
    color: grey;
    font-size: .6rem;
    padding: 0rem .25rem;
}

#desc-box {
    font-size: .8rem;
    padding: .5rem 1rem 0rem;
}

#info-box {
    border: groove 3px grey;
    padding: 1rem;
    font-size: .8rem;
    text-align: center;
    margin: 0rem 1rem;
}

#cost-weight-box {
    font-size: .8rem;
    padding: .5rem .5rem 0rem;
}